body {
  padding: 0;
  margin: 0;
}
ul {
  height: 500px;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

ul li{
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: absolute;
  opacity: 0;
  transform: scale(0.9);
  transition: all 1s ease-in-out;
}

ul li:nth-child(1) {
  background-color: plum;
}
ul li:nth-child(2) {
  background-color: powderblue;
}
ul li:nth-child(3) {
  background-color: coral;
}
ul li:nth-child(4) {
  background-color: yellowgreen;
}
ul li:nth-child(5) {
  background-color: burlywood;
}

.show {
  z-index: 1;
  opacity: 1;
  transform: scale(1);
}

.slide_btn_wrap {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.slide_btn_wrap button {
  width: 30px;
  height: 30px;
  margin: 10px 0;
}

.btn_wrap {
  margin: 20px 0;
  display: flex;
  justify-content: space-evenly;
}

.btn_wrap button {
  width: 100px;
  height: 30px;
}